

nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    background-color: red;
    width: 100%;
}

body {
    display:flex;

}

#Search {
    display: flex;
    flex-direction: row;
     align-items: flex-start;
    background-color:yellow;
    height: 48px;
    border-radius: 48px;
}

.input {
    max-height: 24px;
    margin-top: 12px;
        
}

.lupa{
    margin-top: 12px;
}

